{% include 'partials/header.html' %}
{% include 'partials/navigation.html' %}

<section class="bannr-section" style="background-image: url({{ url_for('static', filename='assets/img/Khutbah.jpg') }});">
    <div class="container">
        <div class="bannr-text">
            <img src="{{ url_for('static', filename='assets/img/heading-img.png') }}" alt="icon">
            <h2>Code of Conduct</h2>
        </div>
    </div>
</section>

<section class="gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="content">
                    <h2 class="text-center mb-4">Islamic Center of Boulder (ICB) Code of Conduct</h2>
                    <p class="lead text-center mb-5">Please read these regulations carefully and observe them at all times. All attendees are held responsible to the observance of these regulations. The ICB adopts a low tolerance stance to individuals who “plead unawareness.” Thank you for your cooperation!</p>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title ">Facilities</h3>
                            <ul class="list-group list-group-flush list">
                                <li class="list-group-item mb-2">There are two prayer halls with designated entrances.</li>
                                <li class="list-group-item mb-2">Do not tamper with the lights.</li>
                                <li class="list-group-item mb-2">The prayer halls are handicapped accessible.</li>
                                <li class="list-group-item mb-2">Do not block the hallways.</li>
                                <li class="list-group-item mb-2">There is a designated Imam.</li>
                            </ul>
                            
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Etiquette</h3>
                            <ul class="list-group list-group-flush list">
                                <li class="list-group-item  mb-2">Please dress modestly, sensitively, and according to Islamic etiquette.</li>
                                <li class="list-group-item  mb-2">Remove shoes before entering the prayer halls and place them on the shoe racks.</li>
                                <li class="list-group-item  mb-2">Please do not eat or drink in the prayer halls.</li>

                                <li class="list-group-item  mb-2">Please be mindful of attendees and worshipers.</li>
                                <li class="list-group-item  mb-2">Minimize all conversations in the prayer halls.</li>
                                <li class="list-group-item  mb-2">Keep your children close to you at all times.</li>
                            </ul>
                        </div>
                    </div>

                    <!-- Repeat the card structure for other sections -->

                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Comments and Feedback</h3>
                            <ul class="list-group list-group-flush list">
                                <li class="list-group-item">ICB management welcomes any questions, feedback, comments, and suggestions. Feedback and questions may be directed to <a href="mailto:contact.icb@gmail.com">contact.icb@gmail.com</a> or visit the ICB website at <a href="http://www.bouldermuslims.com">www.bouldermuslims.com</a>. Please submit these in writing to the ICB-EC, making sure to include your contact information (name, email, and phone number).</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'partials/sidebar.html' %}  <!-- Include Sidebar Here -->
        </div>
    </div>
</section>


{% include 'partials/footer.html' %}
