{% include 'partials/header.html' %}
{% include 'partials/navigation.html' %}

<section class="bannr-section" style="background-image: url({{ url_for('static', filename='assets/img/Khutbah.jpg') }});">
    <div class="container">
        <div class="bannr-text">
            <img src="{{ url_for('static', filename='assets/img/heading-img.png') }}" alt="icon">
            <h2>Code of Conduct</h2>
        </div>
    </div>
</section>

<section class="gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="content">
                    <h2 class="text-center mb-4">Islamic Center of Boulder (ICB) Code of Conduct</h2>
                    <p class="lead text-center mb-5">Please read these regulations carefully and observe them at all times. All attendees are held responsible to the observance of these regulations. The ICB adopts a low tolerance stance to individuals who “plead unawareness.” Thank you for your cooperation!</p>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title ">Facilities</h3>
                            <ul class="list-group list-group-flush list">
                                <li class="list-group-item">There are two prayer halls with designated entrances. The main prayer hall is primarily for brothers with accommodation for the sisters to pray at the back. The other smaller prayer hall is exclusively for the sisters. Please respect the worship practices of the ICB.</li>
                                <li class="list-group-item">Do not tamper with the lights, the air-condition system, or sound system.</li>
                                <li class="list-group-item">The prayer halls are handicapped accessible with the ramp on the south-east side of the building. Contact the ICB Executive Committee (ICB-EC) members if you need assistance.</li>
                                <li class="list-group-item">Do not block the hallways leading to the prayer halls, doorways, or the access ramps.</li>
                                <li class="list-group-item">There is a designated Imam. Should the Imam be tardy, a grace period is requested. Backup Imams are designated by Masjid.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Etiquette</h3>
                            <ul class="list-group list-group-flush list">
                                <li class="list-group-item">Please dress modestly, sensitively, and according to Islamic etiquette.</li>
                                <li class="list-group-item">Remove shoes before entering the prayer halls and place them on the shoe racks.</li>
                                <li class="list-group-item">Please do not eat or drink in the prayer halls.</li>

                                <li class="list-group-item">Please be mindful of attendees and worshipers.</li>
                                <li class="list-group-item">Minimize all conversations in the prayer halls.</li>
                                <li class="list-group-item">Keep your children close to you at all times.</li>
                            </ul>
                        </div>
                    </div>

                    <!-- Repeat the card structure for other sections -->

                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Comments and Feedback</h3>
                            <ul class="list-group list-group-flush list">
                                <li class="list-group-item">ICB management welcomes any questions, feedback, comments, and suggestions. Feedback and questions may be directed to <a href="mailto:contact.icb@gmail.com">contact.icb@gmail.com</a> or visit the ICB website at <a href="http://www.bouldermuslims.com">www.bouldermuslims.com</a>. Please submit these in writing to the ICB-EC, making sure to include your contact information (name, email, and phone number).</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Sidebar content if needed -->
                <div class="sidebar">
                    <h3>Recent Posts</h3>
                    <div class="boder-bar"></div>
                    <ul class="recent-post ">
                        <li>
                            <img alt="recent-posts-img" src="https://via.placeholder.com/90x80">
                            <div>

                                <a href="#">The Five Pillars are the core beliefs</a>
                                <span>March 02, 2024</span>
                            </div>
                        </li>
                        <li>
                            <img alt="recent-posts-img" src="https://via.placeholder.com/90x80">
                            <div>
                                <a href="#">Islam means to achieve peace</a>
                                <span>March 02, 2024</span>
                            </div>
                        </li>
                        <li>
                            <img alt="recent-posts-img" src="https://via.placeholder.com/90x80">
                            <div>
                                <a href="#">Peace with the creations of God</a>
                                <span>March 02, 2024</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'partials/footer.html' %}
